In [ ]:
!pip3 install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (34.4 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 34.4/34.4 MB 34.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [ ]:
import mysql.connector

In [ ]:
mydb = mysql.connector.connect(
  host="database-1.cf2mqcmcq1zs.ap-south-1.rds.amazonaws.com",
  user="admin",
  password="omsakthi",
  #database='joins'

)

print(mydb)
mycursor = mydb.cursor(buffered=True)


mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x78a6d0bdbbb0>
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('userlogs',)

In [ ]:
# SQL command to create a new database
mycursor.execute("CREATE DATABASE userlogs;")

# Verify the database was created
mycursor.execute("SHOW DATABASES;")
for db in mycursor.fetchall():
    print(db)

DatabaseError: 1007 (HY000): Can't create database 'userlogs'; database exists

In [ ]:
mycursor.execute("USE userlogs;")

In [ ]:
mycursor.execute("""
CREATE TABLE sentiment_logs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    text TEXT NOT NULL,
    predicted_class INT NOT NULL,
    negative FLOAT NOT NULL,
    neutral FLOAT NOT NULL,
    positive FLOAT NOT NULL,
    timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")

In [ ]:
mycursor.execute("SELECT * FROM sentiment_logs")

out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+------+--------------------------------------------+-------------------+------------+-------------+------------+---------------------+---------------+
|   id | text                                       |   predicted_class |   negative |     neutral |   positive | timestamp           | ip_address    |
|------+--------------------------------------------+-------------------+------------+-------------+------------+---------------------+---------------|
|    1 | it's great                                 |                 3 | 0.0623961  | 0.040133    | 0.897471   | 2025-01-02 16:57:41 |               |
|    2 | I am very happy to see youü§óüòäü§ó           |                 3 | 0.0347246  | 0.0302596   | 0.935016   | 2025-01-02 17:05:17 |               |
|    3 | i am happpy                                |                 1 | 0.997856   | 0.000723922 | 0.00142033 | 2025-01-02 17:05:59 |               |
|    4 | i am happy                                 |                 3 | 0.245444   | 0.0834217   | 0.671134   | 2025-01-02 17:06:09 |               |
|    5 | hi, i am very happy to see you!!!          |                 3 | 0.0036999  | 0.0135288   | 0.982771   | 2025-01-02 17:17:59 |               |
|    6 | i am happy to see you                      |                 3 | 0.00700958 | 0.0137063   | 0.979284   | 2025-01-02 17:19:02 |               |
|    7 | happy happy happy                          |                 3 | 0.174738   | 0.135312    | 0.68995    | 2025-01-02 17:30:55 |               |
|    8 | Fantastic!                                 |                 3 | 0.0281577  | 0.027957    | 0.943885   | 2025-01-02 17:37:19 | 172.31.53.27  |
|    9 | Excited to see you!happy!!!                |                 3 | 0.00964228 | 0.0283039   | 0.962054   | 2025-01-02 17:42:38 | 172.31.53.27  |
|   10 | Good                                       |                 3 | 0.210382   | 0.129441    | 0.660177   | 2025-01-02 17:45:56 | 172.31.12.75  |
|   11 | hi,how are you?                            |                 3 | 0.0209203  | 0.0858009   | 0.893279   | 2025-01-03 09:58:05 | 172.31.12.75  |
|   12 | hi,good morning! happy to see you today!!! |                 3 | 0.0255978  | 0.390907    | 0.583496   | 2025-01-06 03:06:06 | 172.31.12.75  |
|   13 | Hi,Good evening!!!                         |                 3 | 0.0121557  | 0.0660376   | 0.921807   | 2025-01-06 12:10:32 | 172.31.53.27  |
|   14 | Hi,Good evening!!!                         |                 3 | 0.0121557  | 0.0660376   | 0.921807   | 2025-01-06 12:23:07 | 172.31.47.213 |
|   15 | Hi,Good evening!!!                         |                 3 | 0.0121557  | 0.0660376   | 0.921807   | 2025-01-06 12:46:31 | 172.31.19.64  |
+------+--------------------------------------------+-------------------+------------+-------------+------------+---------------------+---------------+